<a href="/cities/2"><%=image_tag("sf.png")%></a>
<a href="/cities/3"><%=image_tag("boston.png")%></a>
<a href="/cities/4"><%=image_tag("gibraltar.png")%></a>
<a href="/cities/5"><%=image_tag("london.png")%></a>

<div> We currently have <%= @users.length %> user(s) signed up </div>
