<a href="/cities/17"><%=image_tag("sf.png")%></a>
<a href="/cities/18"><%=image_tag("boston.png")%></a>
<a href="/cities/19"><%=image_tag("gibraltar.png")%></a>
<a href="/cities/20"><%=image_tag("london.png")%></a>

<div> We currently have <%= @users.length %> user(s) signed up </div>
