<a href="/cities/12"><%=image_tag("sf.png")%></a>
<a href="/cities/13"><%=image_tag("boston.png")%></a>
<a href="/cities/14"><%=image_tag("gibraltar.png")%></a>
<a href="/cities/15"><%=image_tag("london.png")%></a>

<div> We currently have <%= @users.length %> user(s) signed up </div>
