

<div>
 <h3> Name: <%= @user.name %></h3>
</div>
<div>
 <h3> Username: <%= @user.username %></h3>
</div>
<div>
 <h4> Date Joined: <%= @user.created_at.strftime("%l:%M%P on %B %d, %Y") %>
 </h4>
</div>
<div>
 <h4> Current City: <%= @user.current_city %></h4>
</div>
<div>
 <h4> Avatar: <img src="<%= @user.avatar %>"</h4>
</div>
<div>
<%= link_to "Edit Profile", edit_user_path%>
</div>

<div>
	<% @posts.each do |post| %>
		<%= link_to post.title, user_post_path(@user.id, post)%> 
	<% end %> 
</div>