<h1>Post Show Page</h1>

<h2>Title: <%= @post.title %></h3>
<h3>Author: <%= @post.user.username %></h5>
<p>Body: <%= @post.body %></p>


<%= link_to "Edit Post", edit_city_post_path(@city.id, @post) %>
<%= button_to "Delete", destroy_post_path(@city.id, @post), method: :delete %>
