<div>
 <h3> Name: <%= @city.name %></h3>
</div>
<div>
 <h3> Image: <img src="<%= @city.image %>"></h3>
</div>

<div>
<%= link_to "Edit City", edit_city_path %>
</div>

<div>
	<% @post.each do |post| %>
		<%= link_to post.title, city_post_path(@city.id, post.id) %> 
	<% end %> 
</div>

<div> 

	<%= link_to "New Post", new_city_post_path(@city.id) %>
</div>
